@model LogdeTela.Models.Log
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/log.js"></script>
</head>
<form>
    <input value="Index" id="telaVisualizada">
</form>

<<<<<<< HEAD
=======
<script>
    var tempo = 0;
    var usuario = "Iara";
    var telaVisualizada =  "Index";
    var tempoTotalNaTela;
    var ultimoAcesso;

    function ContarTempoTotalNaTela() {

        // Se o tempo não for zerado
        if ((tempo - 1) >= -1) {

            // Pega a parte inteira dos minutos
            var min = parseInt(tempo / 60);
            // Calcula os segundos restantes
            var seg = tempo % 60;

            // Formata o número menor que dez, ex: 08, 07, ...
            if (min < 10) {
                min = "0" + min;
                min = min.substr(0, 2);
            }
            if (seg <= 9) {
                seg = "0" + seg;
            }

            // Cria a variável para formatar no estilo hora/cronômetro
            horaImprimivel = '00:' + min + ':' + seg;
            tempoTotalNaTela = horaImprimivel;
            //JQuery pra setar o valor
            /* $("#timer").html(horaImprimivel);*/
            document.getElementById("timer").value = horaImprimivel;

            // Define que a função será executada novamente em 1000ms = 1 segundo
            setTimeout('ContarTempoTotalNaTela()', 1000);

            tempo++;
        }
        else {
            $('#myAlert').show().fadeOut(5000);
        }

    }

    ContarTempoTotalNaTela();

    //$(window).on("unload", function (e) {
    //    EnviarDados();
    //});

    //$(window).on('unload', function () {
    //    EnviarDados(); //chamar função ao trocar de aba
    //}); 

    window.onbeforeunload = EnviarDados;

    function EnviarDados() {
        var data = {Usuario: usuario, TelaVisualizada: telaVisualizada, TempoTotalNaTela: tempoTotalNaTela};

        $.ajax({
            url: "Log/VerificarLog",
            type: "POST",
            dataType: "json",
            data: data,
        })
        window.close();
    }
</script>
>>>>>>> developer


