@model LogdeTela.Models.Log
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/log.js"></script>
</head>
<form>
    <input asp-for="@Model.TempoTotalNaTela" id="timer" />
    <Input onclick="EnviarDados()" value="Teste"/>
</form>

<script>
    var tempo = 0;
    var usuario = "Iara";
    var telaVisualizada =  "Index";
    var tempoTotalNaTela;
    var visualizacoesTotais = 0;
    var ultimoAcesso;

    function ContarTempoTotalNaTela() {

        // Se o tempo não for zerado
        if ((tempo - 1) >= -1) {

            // Pega a parte inteira dos minutos
            var min = parseInt(tempo / 60);
            // Calcula os segundos restantes
            var seg = tempo % 60;

            // Formata o número menor que dez, ex: 08, 07, ...
            if (min < 10) {
                min = "0" + min;
                min = min.substr(0, 2);
            }
            if (seg <= 9) {
                seg = "0" + seg;
            }

            // Cria a variável para formatar no estilo hora/cronômetro
            horaImprimivel = '00:' + min + ':' + seg;
            //JQuery pra setar o valor
            /* $("#timer").html(horaImprimivel);*/
            document.getElementById("timer").value = horaImprimivel;

            // Define que a função será executada novamente em 1000ms = 1 segundo
            setTimeout('ContarTempoTotalNaTela()', 1000);

            tempo++;
        }
        else {
            $('#myAlert').show().fadeOut(5000);
        }

    }

    function ObterUltimoAcessoDataHora() {
        var data = new Date();

        // Guarda cada pedaço em uma variável
        var dia = data.getDate();           // 1-31
        var mes = data.getMonth();          // 0-11 (zero=janeiro)
        var ano4 = data.getFullYear();       // 4 dígitos
        var hora = data.getHours();          // 0-23
        var min = data.getMinutes();        // 0-59
        var seg = data.getSeconds();        // 0-59

        // Formata a data e a hora (note o mês + 1)
        var str_data = dia + '/' + (mes + 1) + '/' + ano4;
        var str_hora = hora + ':' + min + ':' + seg;
        ultimoAcessoDataHora = str_data + " " + str_hora;

    }

    function VisualizacoesTotais() {
        visualizacoesTotais++;
    }

    ContarTempoTotalNaTela();

    //$(window).on("unload", function (e) {
    //    EnviarDados();
    //    console.log("this will be triggered");
    //});

    $(window).on('unload', function () {
        EnviarDados(); //chamar função ao trocar de aba
    }); 

    function EnviarDados() {
        var data = {
            Usuario: usuario, TelaVisualizada: telaVisualizada,
            TempoTotalNaTela: tempoTotalNaTela, VisualizacoesTotais: visualizacoesTotais,
            UltimoAcesso: ultimoAcesso
        };

        $.ajax({
            url: "Log/AtualizarLog",
            type: "POST",
            dataType: "json",
            data: data,
        })
    }
</script>


